<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="leg_joints" params="suffix">

      <joint_name>j_c1_${suffix}</joint_name>
      <joint_name>j_thigh_${suffix}</joint_name>
      <joint_name>j_tibia_${suffix}</joint_name>

    </xacro:macro>
    
    <xacro:macro name="leg_colours" params="suffix">

      <gazebo reference="c1_${suffix}">    
        <material>Gazebo/Grey</material>
      </gazebo>
      <gazebo reference="c2_${suffix}">    
        <material>Gazebo/Grey</material>
      </gazebo>
      <gazebo reference="thigh_${suffix}">    
        <material>Gazebo/Grey</material>
      </gazebo>
      <gazebo reference="tibia_${suffix}">    
        <material>Gazebo/Grey</material>
      </gazebo>

    </xacro:macro>

    <xacro:macro name="phantomx_ign">
    
      <gazebo>
        <plugin name="ignition::gazebo::systems::JointStatePublisher" filename="libignition-gazebo-joint-state-publisher-system.so">
          <xacro:leg_joints suffix="rf"/>
          <xacro:leg_joints suffix="lf"/>
          <xacro:leg_joints suffix="rm"/>
          <xacro:leg_joints suffix="lm"/>
          <xacro:leg_joints suffix="rr"/>
          <xacro:leg_joints suffix="lr"/>
        </plugin>        
      </gazebo>

      <gazebo reference="MP_BODY">    
        <material>Gazebo/Grey</material>
      </gazebo>

      <xacro:leg_colours suffix="lf"/>
      <xacro:leg_colours suffix="rf"/>
      <xacro:leg_colours suffix="lm"/>
      <xacro:leg_colours suffix="rm"/>
      <xacro:leg_colours suffix="lr"/>
      <xacro:leg_colours suffix="rr"/>

      <gazebo>
        <plugin name="ignition::gazebo::systems::JointController" filename="ignition-gazebo-joint-controller-system">
          <xacro:leg_joints suffix="rf"/>
          <xacro:leg_joints suffix="lf"/>
          <xacro:leg_joints suffix="rm"/>
          <xacro:leg_joints suffix="lm"/>
          <xacro:leg_joints suffix="rr"/>
          <xacro:leg_joints suffix="lr"/>
        </plugin>  
      </gazebo>

    </xacro:macro>

</robot>
